body {
  font-family: "Kanit", sans-serif;
  font-family: "Poppins", sans-serif;
}
img {
  object-fit: cover;
}

header {
  width: 100%;
  background-color: rgb(231, 42, 9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: white;
}
nav h1 a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  padding-left: 30px;
  list-style-type: none;
}
li a {
  padding-left: 15px;
  color: white;
  text-decoration: none;
  font-size: 25px;
}
a:hover {
  color: black;
}
a:active {
  color: blue;
}
a {
  text-decoration: none;
}
.search {
  display: flex;
  width: 100px;
  height: 40px;
}
.search input {
  padding-left: 10px;
  margin-left: -50px;
  border-radius: 5px;
  border: 1px solid rgb(192, 192, 192);
  outline: none;
}
.s {
  margin-left: -12px;
  border: 1px solid rgb(192, 192, 192);

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.s img {
  padding-right: 10px;
  padding-left: 10px;
}
input::placeholder {
  font-size: 15px;
}
.s img {
  width: 20px;
  height: 20px;
}
section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}
section a {
  color: white;
  text-decoration: none;
  padding-bottom: 10px;
}
/* soodadhow */

.kow {
  background-color: rgb(231, 42, 9);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.kow h1 {
  font-size: 60px;
}
.kow p {
  font-size: 30px;
}
.qor button {
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid white;
  background-color: red;
  color: white;
  transition: 1s;
  border-radius: 10px;
}
.qor button:hover {
  background-color: white;
  cursor: pointer;
}
.qor button a:hover {
  color: black;
}
.qor button a {
  color: white;
}

/* dharka */
menu {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 9pc;
}
menu img {
  width: 300px;
  margin-left: 20px;
  height: 400px;
}
.kuli {
  display: inline-block;
}
.one,
.two,
.three {
  display: inline-block;
  position: relative;
}
.lacag,
.l {
  position: absolute;
  top: 0;
  left: 20px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
}
.bu,
.but {
  position: absolute;
  bottom: -30px;
  left: 50px;
}
.bu button,
.but button {
  padding: 5px 10px;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(247, 247, 247);
  color: black;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 15px;
  cursor: pointer;
  transition: 1s;
}
.bu button:hover,
.but button:hover {
  transform: scale(0.9);
  color: white;
  background-color: black;
}
.two {
  display: inline-block;
}
.three {
  display: inline-block;
}
aside {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

aside img {
  width: 300px;
  margin-left: 20px;
  height: 350px;
}

.kuwakle {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}
.kuwakle img {
  width: 300px;
  margin-left: 20px;
  height: 350px;
}
.sportka {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}
.sportka img {
  width: 300px;
  margin-left: 20px;
  height: 350px;
}
.caruurta {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}
.caruurta img {
  width: 300px;
  margin-left: 20px;
  height: 350px;
}
/* contact */
.kuli {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.info {
  width: 600px;
  height: 400px;
  text-align: center;
}
.info h1 {
  margin-bottom: 0;
}
.in {
  width: 70%;
  height: 30px;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 1px;
  /* border-radius: 5px; */
  background-color: rgb(248, 248, 248);
  outline: 0;
  border: 0;
  border-bottom: 1px solid red;
}
.in {
  padding-right: 25%;
  padding-left: 7px;
}
.in {
  margin-left: 10px;
}
.text {
  margin-top: 5px;
  border: 1px solid rgb(231, 42, 9);
}
.su {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: white;
  border: 1px solid rgb(231, 42, 9);
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}
.su:hover {
  background-color: red;
  color: white;
  border: none;
}

.fafahin {
  background-color: black;
  color: white;
  width: 50%;
  background-image: url(/REPLACE\ THIS\ SCREEN11112111811.jpg);
  background-size: cover;
}

/* footer */
footer {
  background-color: rgb(231, 42, 9);

  color: white;
  margin-top: 5%;
}
.ani {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.ani h1 {
  font-size: 50px;
}
.sawir {
  text-align: center;
  margin-right: 50px;
  margin-top: 40px;
}
.sawir img {
  width: 50px;
}

.qoral {
  display: flex;
  justify-content: space-around;
}

p a {
  text-decoration: none;
  color: white;
}
